default: &default
  adapter: postgresql
  timeout: 5000
  username: <%= ENV['POSTGRES_USER'] || '' %>
  password: <%= ENV['PGPASSWORD'] || '' %>
  host: <%= ENV.fetch("POSTGRES_HOST") { "localhost" } %>
  port: <%= ENV.fetch("POSTGRES_PORT") { 5433 } %>

development:
  <<: *default
  database: crud_sopha_development

 
test:
  <<: *default
  database: crud_sopha_test


production:
  <<: *default
  database: crud_sopha_production
  username: crud_sopha
  password: <%= ENV["CRUD_SOPHA_DATABASE_PASSWORD"] %>
