<div class="col-lg-8 mx-auto mt-3 mb-3">
  <div class="card shadow">
    <div class="card-header">
      <h1 class="card-title">Editar administrador</h1>
    </div>
    <div class="card-body">
      <%@administrator.password_hash = ""%>
     <%= render "form", administrator: @administrator %>
    </div>
  </div>  
</div>